.vscode/
.DS_Store

.idea
__pycache__
.ipynb_checkpoints/
*.ipynb

checkpoints/
!checkpoints/*/*/pretrained.*
datasets/*/*.tfrecord
datasets/imagenet/*-*-of-*
plots/
runs/
summaries/

*.csv
*.npy
info.yaml
export.yaml
