colorama; sys_platform == 'win32'
docopt
ipdb
ipdbplugin
ipython
matplotlib
networkx
nose
Pillow
PyYAML
gnureadline; sys_platform != 'win32'
sklearn
tensorflow
tensorflow-gpu; sys_platform != 'darwin'
termcolor
